<footer class="footer footer-expand-md footer-primary bg-light">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p class="center">© 2017–2021 ebegi Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>