<footer class="bd-footer py-5 mt-5 bg-dark">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3 text-center">
         <a href="<%= account_signed_in? ? dashboard_path : root_path %>"><img src="../assets/logo.png" style="height:100px"></a>
        <br/>
        <br/>
        <small class="d-block mb-3 text-muted">© 2017–2021</small>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5 class="text-white">Properties</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Buy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Sell</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Rent</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Lease</a></li>
         
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5 class="text-white">Realtors</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Accra</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Tema</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Lagos</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Abuja</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5 class="text-white">About Us</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
    </div>
  </footer>