<footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark ">
    <div class="row">
      <div class="col-12 col-md">
        <h3 class="text-white"><strong>sarari</strong></h3>
        <small class="d-block mb-3 text-muted">© 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-white">Properties</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Buy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Sell</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Rent</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Lease</a></li>
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-white">Realtors</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Accra</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Tema</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Lagos</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Abuja</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="text-white">About Us</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>