<nav class="navbar navbar-expand-md navbar-primary fixed-top bg-light">
    <div class="container-fluid">
    <img src="../assets/logo.png" alt="" width="150" height="70" class="d-inline-block align-top">
    <%= link_to 'ebegi', root_path, class:"navbar-brand"%>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Properties
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Selling</a></li>
            <li><a class="dropdown-item" href="#">Renting</a></li>
            <li><a class="dropdown-item" href="#">Office Spaces</a></li>
          </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Advertizing</a>
          </li>
          <li class="nav-item">
          
            <a class="nav-link " href="#">Realtors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Home Loans</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Log In', new_account_session_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_account_registration_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', account_confirmation_path, class:"nav-link disabled"%>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>